{{#each posts as |post|}}
  <div>
    <div>

      <p>Created by {{post.user.userName}} on {{post.date_created}}</p>
    </div>
    <div>
      <p>
        {{post.title}}
      </p>
    </div>
  </div>
{{/each}}