<div class="column is-10 is-10-mobile is-offset-1 is-offset-1-mobile">

  <div class="box">
    <h2 class="is-size-4">Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="button" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="box">
    <h2 class="is-size-4">Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">User Name:</label>
        <input class="form-input input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="button" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>